@media only screen and (min-width: 650px) {
.top-nav ul li {
	display: inline-block;


}
}

@media only screen and (min-width: 1000px){
	.top-nav ul li {
	border-top: none; 
}

}
@media only screen and (min-width: 650px) {
.top-nav ul {
	text-align: center;
	border-color: red;
}
}


.photo-grid {
	text-align: center;

}

/*.yellow, .blue {
	display: inline-block;
	width: 46%;
	text-align: left;
	margin: 5px;

}*/

@media only screen and (min-width: 650px) {
	.yellow, .blue {
	display: inline-block;
	width: 46%;
	text-align: left;
	margin: 5px;

	}

}


@media only screen and (min-width: 1000px) {
	.top-nav ul {
		text-align: right;
		height: 62px;

	}
	.top-nav ul li {
		padding-right: 15px;
		margin-bottom: 0px;
		display: inline-block;
	}


	.black, .maroon, .green, .lightblue, .red  {
		display: inline-block;
		width: 46%;
		text-align: left;
		margin: 5px;
	}
	.yellow, .blue {
		display: inline-block;
		width: 22%;
		text-align: left;
		margin: 5px;

	}

	.logo a {
		position: absolute;
		bottom: 0px;
		left: 20px;
	}


}

/*@media only screen and (min-width: 650px) {
	.photo-cell img .half {
	display: inline-block;
	width: 40%;

}
}
*/
