

img {

	border: 3px solid black;
	padding: 5%;
	margin: 40px;
	display: inline-block;
	height: 100px;
	width: 100px;

}

.bar {
	background: grey;
	width: 100%;
	height: 40px;
	position: absolute;

}

.square {
	background: blue;
	margin-top: 5px;
	margin-left: ;
	width: 30px;
	height: 30px;
	position: absolute;

}

@keyframes slide {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    left: 244px;
  }
  100% {
    left: 488px;

  }
}

@keyframes spin {
  100% {

		/*transform on the z-axis depth, aka popping out of the screen*/
		transform: rotateZ(360deg)
}

.bar:focus .square {
	animation: slide 1s infinite linear;
}

.square:active {
	animation: spin 1s infinite linear;
}


img.hover:hover {
	border-radius: 40%;

}

img.hover:focus,
img.active:focus {
	outline-style: solid;
	outline-color: blue;
	outline-width: thin;

}

img.focus:focus {
	outline-style: solid;
	outline-color: blue;
	outline-width: thin;
	filter: grayscale(100%);

}

img.focus:hover {

	color: black;
	opacity: 90%;
	outline-style: solid;
	outline-width: thin;

}

